pkgbase = abs
	pkgdesc = Set of scripts designed to automate the archiso build process after making updates to the provided archiso profile. Bundled together as a command line utility that can be called by entering abs in your terminal!
	pkgver = 2.0
	pkgrel = 12
	url = https://github.com/keyaedisa/abs
	arch = x86_64
	makedepends = git
	depends = git
	depends = gawk
	depends = sed
	depends = archiso
	depends = bash
	provides = abs
	conflicts = archiso-build-scripts
	source = gclone::git+https://github.com/keyaedisa/abs
	sha256sums = SKIP

pkgname = abs
